@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

body,
html {
	font-family:
		Proxima Nova,
		proxima-nova,
		Proxima Nova Fallback,
		Arial,
		sans-serif;
	font-weight: 400;
}
