@keyframes move {
	100% {
		transform: translate3d(0, 0, 1px) rotate(360deg);
	}
}

.background {
	background-color: rgb(21, 23, 36);
	color: white;
}

.star {
	position: absolute;
	border-radius: 100%;
	animation: move linear infinite;
	backface-visibility: hidden;
	transform-origin: center;
}
